.App {
}
.app_wrap {
  padding: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app_wrap input {
  width: 60%;
  height: 30px;
}
.app_wrap button {
  width: 5%;
  height: 35px;
}
.contain {
  columns: 3;
  column-gap: 5px;
  width: 65%;
  margin: 2px auto;
}

.contain img {
  width: 250px;
  margin: 0;
  padding: 5px;
}
